{{ define "index" }}

{{ template "header"}}


    <main class="header">
        <h1>Новостная лента</h1>
        <p class="lead">
            Нынче в топе
        </p>

        {{range .}}
        <div class="alert alert-danger justify-content:space-around" style="background-color:gainsboro;">
            <h2>{{.Title}}</h2>
            <h2>{{.Anons}}</h2>
            <form action="/current" method="post">

                <a href="/current/{{.Id}}" class="btn btn-danger">Читать</a>
            </form>

        </div>
        {{else}}
        <p class="lead">Статьи ещё не выпущены</p>
        {{end}}

    </main>

    {{ template "footer" }}

{{ end }}


